<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.css">
    <title>PortFolio | {% block titulo %} {% endblock %}</title>
</head>
<body>
    {% block contenido %} {% endblock %}
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.js"></script>
</body>
<footer class="page-footer font-small blue">
    
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 PortFolio </div>
        <!-- Copyright -->      
</footer>
</html>