{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static  'css/bootstrap.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
          <script
          src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
          
          <script
          src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
          crossorigin="anonymous"></script>
          
          <script
          src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>
          <script></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <title>Perfil</title>
</head>

<body class="bg-light">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand text-white">Portafolio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="Inicio">Inicio <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
<div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img class="iconInt img-circle img-thumbnail" style="align-content: center; width:500px; height:150px; 
                        box-shadow: 2px 2px 10px #666;" src="{% static 'imagenes/jose.jpeg' %}" alt=""/>                            
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5>
                                        {% comment %} nombre de usuario {% endcomment %}
                                        Jose
                                    </h5>
                                    <h6>
                                        Desarrollador Web y Diseñador
                                    </h6>
                                    <p class="proile-rating">RANKINGS : <span>8/10</span></p>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Acerca de</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Línea de tiempo</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-success" href="Editar" />Editar Perfil</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
                            <br>
                            <p>TRABAJOS</p>
                            <a href="">Portafolio</a><br/>
                            <a href="">Curriculum</a><br/>
                            <a href="">Django Shop</a>
                            <br>
                            <br>
                            <br>
                            <p>SKILLS</p>
                            <a href="">Diseñador Web</a><br/>
                            <a href="">Desarrollador Web</a><br/>
                            <a href="">PHP, .Net</a><br/>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            
                            <br>
                                          <div class="row">
                                            <div class="col-md-6">
                                                <label>Identificacion</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>10004453670</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>User Id</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Warners12</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Nombre</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Jose David</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>josedavid@gmail.com</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Telefono</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>123 456 7890</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Profesión</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Desarrollador Web y Diseñador</p>
                                            </div>
                                        </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            
                            <br>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Experiencia</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Experto</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Proyectos Totales</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>230</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Nivel de Ingles</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Experto</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Disponibilidad</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>6 meses</p>
                                            </div>
                                        </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Biografia</label><br/>
                                        <p>Cuentanos acerca de ti</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>           
        </div>
        
        <br>
      <footer class="page-footer font-small blue pt-4 bg-dark text-white">

                  <!-- Footer Links -->
                  <div class="container-fluid text-center text-md-left">
                
                    <!-- Grid row -->
                    <div class="row">
                
                      <!-- Grid column -->
                      <div class="col-md-6 mt-md-0 mt-3">
                
                        <!-- Content -->
                        <h5 class="text-uppercase text-center">Redes Sociales</h5>
                        <i class="fab fa-facebook-square fa-6x" style="position: relative; position:absolute; padding: 11px; right: 320px;"></i>
                        <i class="fab fa-twitter fa-6x" style="position: relative; position:absolute; padding: 11px; right: 220px;"></i>
                
                      </div>
                      <!-- Grid column -->
                
                      <hr class="clearfix w-100 d-md-none pb-3">
                
                      <!-- Grid column -->
                      <div class="col-md-3 mb-md-0 mb-3">
                
                        <!-- Links -->
                        <h5 class="text-uppercase">Contactanos</h5>
                
                        <ul class="list-unstyled">
                          <li>
                            <a>+57 4568790</a>
                          </li>
                          <li>
                            <a>+57 3159846457</a>
                          </li>
                          <li>
                            <a>+57 3218654895</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="footer-copyright text-center py-3">&copy; JWID 2019 Copyright:
                    <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
                  </div>
                </footer>
          <script src="js/jquery.js"></script>
          <script src="js/popper.js"></script>
          <script src="js/bootstrap.js"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
          </script>
</body>

</html>