<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="M">
    <meta name="keywords" content="create,free,php,poll,check,results,survey,share,track,unlimited,instant,responses">
    <title>Registro</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet" type="text/css">
    <link href="https://cdn.phpoll.com/css/main.min.css?v=3.0.3" rel="stylesheet">

</head>
<body class="themed-body">
    

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         <span class="icon-bar"></span>
        </button>
    </div>

    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li class=""><a href="Inicio">Inicio</a></li>
            <li class=""><a href="Nosotros">Nosotros</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right shifted">
            <li class=""><a href=".">Iniciar Sesión</a></li>
        </ul>
    </div>
    </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-9 col-lg-offset-3" style="float: left">
            <div class="alert-placeholder">
            </div>
                <div class="panel panel-success">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center"><h2><b>Registro</b></h2></div>
                                    <form id="register-form" action="" method="post" role="form"> 
                                    <div class="col-lg-12" style="width: 300px; float: left">                                    
                                        <div class="form-group has-feedback">
                                            <label for="username">Nombre</label>
                                            <span class="form-control-feedback input-validator-feedback" data-fieldname="Nombre"></span>
                                            <input type="text" name="username" id="username" tabindex="1" class="form-control validate-input" placeholder="Nombre" value="" autocomplete="off">
                                        </div>
                                        <div class="form-group has-feedback">
                                            <label for="email">Correo Electronico</label>
                                            <span class="form-control-feedback input-validator-feedback" data-fieldname="email"></span>
                                            <input type="text" name="email" id="email" tabindex="2" class="form-control validate-input" placeholder="Email" value="" autocomplete="off">
                                        </div>
                                        <div class="form-group">
                                            <label for="pass">Contraseña</label>
                                            <input type="password" name="pass" id="pass" tabindex="3" class="form-control" placeholder="Contraseña" autocomplete="off">
                                        </div>
                                        <div class="form-group">
                                            <label for="confirmar-contraseña">Confirmar Contraseña</label>
                                            <input type="password" name="confirmar-contraseña" tabindex="4" id="confirmar-contraseña" class="form-control" placeholder="Confirmar contraseña" autocomplete="off">
                                        </div>
                                        <div class="form-group">
                                            <label for="tipo-de-identificacion">Tipo de identificación</label> 
                                            <select class="form-control" id="tipo-id">
                                                <option value="cc">Cedula de Ciudania</option>
                                                <option value="ti">Tarjeta de Identidad</option>
                                                <option value="ce">Cedula Extranjera</option>
                                                <option value="rc">Registro civil</option>
                                                <option value="nit">NIT</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="fecha-nacimiento">Fecha de Nacimiento</label>  
                                            <input type="date" name="nacimiento" tabindex="5" id="fnacimiento" class="form-control">                                     
                                        </div>
                                        </div> 
                                    <div class="col-lg-12" style="width: 300px; float: right">                
                                        <div class="form-group">
                                            <label for="estado-civil">Estado Civil</label> 
                                            <select class="form-control" id="tipo-estadoc">
                                                <option value="so">Soltero(a)</option>
                                                <option value="ca">Casado(a)</option>
                                                <option value="co">Comprometido(a)</option>
                                                <option value="di">Divorciado(a)</option>
                                                <option value="vi">Viudo(a)</option>
                                                <option value="un">Union Libre</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="tel">Telefono</label>
                                            <input id="telefono" name="tel" type="number" tabindex="6" placeholder="Telefono" class="form-control">
                                        </div>  
                                        <div class="form-group">
                                            <label for="cel">Celular</label>
                                            <input id="cel" name="cel" type="number" tabindex="7" placeholder="Celular" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="departamento_id" class="control-label">Departamento</label>
                                            <select class="form-control" id="departamento_id">
                                                <option value="am">Amazonas</option>
                                                <option value="an">Antioquia</option>
                                                <option value="ar">Arauca</option>
                                                <option value="at">Atlántico</option>
                                                <option value="bo">Bolívar</option>
                                                <option value="boy">Boyacá</option>
                                                <option value="ca">Caldas</option>
                                                <option value="caq">Caquetá</option>
                                                <option value="cas">Casanare</option>
                                                <option value="cau">Cauca</option>
                                                <option value="ce">Cesar</option>
                                                <option value="cho">Chocó</option>
                                                <option value="co">Córdoba</option>
                                                <option value="cu">Cundinamarca</option>
                                                <option value="gu">Guainía</option>
                                                <option value="gua">Guaviare</option>
                                                <option value="hu">Huila</option>
                                                <option value="lgu">La Guajira</option>
                                                <option value="ma">Magdalena</option>
                                                <option value="me">Meta</option>
                                                <option value="na">Nariño</option>
                                                <option value="nosa">Norte de Santander</option>
                                                <option value="pu">Putumayo</option>
                                                <option value="qui">Quindío</option>
                                                <option value="ri">Risaralda</option>
                                                <option value="sa">San Andrés</option>
                                                <option value="sant">Santander</option>
                                                <option value="su">Sucre</option>
                                                <option value="to">Tolima</option>
                                                <option value="va">Valle del Cauca,</option>
                                                <option value="vau">Vaupés</option>
                                                <option value="vi">Vichada</option>
                                            </select>                    
                                        </div>                                
                                        <div class="form-group">
                                            <label for="ciudad">Ciudad</label> 
                                            <select class="form-control" id="ciudad">
                                                <option value="le">Leticia</option>
                                            </select>
                                        </div> 
                                        <div class="form-group">
                                            <label for="direccion" class="control-label">Direccion</label>
                                            <input type="text" class="form-control" id="direccion" tabindex="8" name="direc" placeholder="Cra98A#74-42">
                                        </div> 
                                        </div>
                                        <div class="form-group">
                                            <label for="genero">Genero</label> 
                                            <select class="form-control" id="tipo-mf">
                                                <option value="m">Masculino</option>
                                                <option value="f">Femenino</option>                                                
                                                <option value="o">Otro</option>
                                            </select>
                                        </div>
                                        <div class="form-group" style="text-align:center">
                                            <label for="perfil-pro" class="control-label">Perfil Profesional</label>
                                            <textarea class="form-control" id="perfil-pro" tabindex="9" name="perfil-profe" cols="30" rows="10" placeholder="Cuentanos acerca de ti"></textarea>
                                        </div>                                     
                                        <div class="form-group">    
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                    <input type="submit" name="registrarse" id="registrarse" tabindex="10" class="form-control btn btn-success" value="Registrarse">
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                    <a href="inicio" tabindex="6" class="form-control btn btn-danger">Cancelar</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>                       
</html>